@page "/"
@inject HttpClient Http
@inject AppState AppStateStore
@inject KeywordCheck KeywordCheck
@using MeetUpPlanner.Shared
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager

@if (!String.IsNullOrEmpty(AppStateStore.ClientSettings.WelcomeMessage))
{
    <div class="row jumbotron">
        @if (!String.IsNullOrEmpty(AppStateStore.ClientSettings.LogoLink))
        {
            <div class="col-md-1">
                <img src="@AppStateStore.ClientSettings.LogoLink" class="img-fluid" />
            </div>
        }
        <div class="col-md-11">
            @((MarkupString)AppStateStore.ClientSettings.WelcomeMessage)
        </div>
    </div>
}

<h5>Zugangsdaten</h5>

<EditForm OnValidSubmit="CheckKeyword" Model="@AppStateStore">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="keyword">Schlüsselwort für die öffentlichen Ausfahrten</label>
        <InputText id="keyword" aria-describedby="keywordHelp" class="form-control" @bind-Value="AppStateStore.KeyWord" autocomplete="on" placeholder="Schlüsselwort für den Zugriff" title="Schlüsselwort zum allgemeinen Zugriff auf die Ausfahrten." />
        <small id="keywordHelp" class="form-text text-muted">
            Für den Zugriff auf die Termine ist ein "Schlüsselwort" notwendig, das separat kommuniziert wurde.
        </small>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="optkeyword1">Optionale Schlüsselwörter für private Ausfahrten</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <InputText id="optkeyword1" aria-describedby="optkeywordHelp" class="form-control form-control-sm" @bind-Value="AppStateStore.PrivateKeyWord1" title="Optionales Schlüsselwort 1" />
            <small id="optkeywordHelp" class="form-text text-muted">
                Ausfahrten können über separate Schlüsselwörter quasi "privatisiert" werden. Hier kannst du die zusätzlichen Schlüsselwörter eintragen.
            </small>
        </div>
        <div class="form-group col-md-4">
            <InputText class="form-control form-control-sm" @bind-Value="AppStateStore.PrivateKeyWord2" title="Optionales Schlüsselwort 2" />
        </div>
        <div class="form-group col-md-4">
            <InputText class="form-control form-control-sm" @bind-Value="AppStateStore.PrivateKeyWord3" title="Optionales Schlüsselwort 3" />
        </div>
    </div>
    <h5>Kontaktdaten</h5>
    <div class="form-row">
        <div class="form-group col-md-12">
            <small id="nameHelp" class="form-text text-muted">
                Zur eindeutigen Nachverfolgbarkeit bitte Vor- und Nachname eingeben. In der Teilnehmerliste der Ausfahrten werden nur die Vornamen angezeigt.
            </small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <InputText id="firstname" aria-describedby="nameHelp" class="form-control" @bind-Value="AppStateStore.FirstName" autocomplete="on" placeholder="Vorname" title="Vorname" />
        </div>
        <div class="form-group col-md-4">
            <InputText id="lastName" area-describedby="nameHelp" class="form-control" @bind-Value="AppStateStore.LastName" autocomplete="on" placeholder="Nachname" title="Nachname" />
        </div>
    </div>
    <div class="form-group">
        <label for="Phone">Telefon/Mail</label>
        <InputText id="Phone" aria-describedby="phoneHelp" class="form-control" @bind-Value="AppStateStore.PhoneMail" autocomplete="on" placeholder="Telefon-Nr. oder Mail-Adresse" title="Bitte Telefonnummer oder Mailadresse angeben." />
        <small id="phoneHelp" class="form-text text-muted">
            Für die Nachverfolgbarkeit hier bitte deine Mail-Adresse oder Telefonnummer eingeben. Diese Info wird nicht in der allgemeinen Teilnehmerliste zu Ausfahrten angezeigt.
        </small>
    </div>
    <div class="form-group">
        <div class="form-check">
            <InputCheckbox id="SaveSettings" aria-describedby="saveSettingsHelp" class="form-check-input" @bind-Value="AppStateStore.SaveSettings"></InputCheckbox>
            <label for="SaveSettings" class="form-check-label">Einstellungen im Browser merken?</label>
        </div>
        <small id="saveSettingsHelp">Damit beim nächsten Mal der Name usw. nicht neu eingegeben werden muss, können diese Eingaben im Browser gespeichert werden.</small>
    </div>
    <div class="form-group">
        <div class="form-check">
            <InputCheckbox class="form-check-input" @bind-Value="@UsageRightsAccepted" onclic />
            <label for="form-check-input" class="form-checklabel">
                Hiermit bestätige ich, dass ich damit einverstanden bin, dass die Teilnehmerlisten zu den Ausfahrten mit den Kontaktdaten,
                die ich hier angebe, bis zu 4 Wochen für die Nachverfolgbarkeit gespeichert werden. Ich bin auch damit einverstanden,
                dass in der Liste der Ausfahrten die Teilnehmer mit Vornamen und abgekürztem Nachnamen (erste Buchstabe) angezeigt werden.
            </label>
        </div>
    </div>
    <button type="submit" id="BtnSaveKeyword" class="btn btn-primary" disabled="@(!UsageRightsAccepted)">Los geht's ...</button>
</EditForm>
<br />
<p class="alert-info">
    @logMessage
</p>



@code {
    string logMessage = String.Empty;
    Boolean _usageRightsAccepted = false;
    Boolean UsageRightsAccepted
    {
        get
        {
            return _usageRightsAccepted;
        }
        set
        {
            _usageRightsAccepted = value;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        AppStateStore.ClientSettings = new ClientSettings();

        if (await localStorage.ContainKeyAsync("permAppState"))
        {
            // Read the user data if available from browser storage
            PermAppState permAppState = await localStorage.GetItemAsync<PermAppState>("permAppState");
            // Copy the settings needed to application state
            AppStateStore.KeyWord = permAppState.KeyWord;
            AppStateStore.FirstName = permAppState.FirstName;
            AppStateStore.LastName = permAppState.LastName;
            AppStateStore.PhoneMail = permAppState.PhoneMail;
            AppStateStore.PrivateKeyWord1 = permAppState.PrivateKeyWord1;
            AppStateStore.PrivateKeyWord2 = permAppState.PrivateKeyWord2;
            AppStateStore.PrivateKeyWord2 = permAppState.PrivateKeyWord2;
        }

        // Get client settings from server
        AppStateStore.ClientSettings = await Http.GetFromJsonAsync<ClientSettings>("Util/clientsettings");

        // Reset user status
        KeywordCheck.IsUser = false;
        KeywordCheck.IsAdmin = false;
        AppStateStore.NotifyStateChanged();

    }

    private async Task CheckKeyword()
    {
        string keyword = AppStateStore.KeyWord;
        // Keyword check at server side
        KeywordCheck keywordCheck = await Http.GetFromJsonAsync<KeywordCheck>($"Util/checkkeyword?keyword={keyword}");
        KeywordCheck.IsAdmin = keywordCheck.IsAdmin;
        KeywordCheck.IsUser = keywordCheck.IsUser;
        AppStateStore.NotifyStateChanged();
        if (!KeywordCheck.IsUser && !KeywordCheck.IsAdmin)
        {
            logMessage = "Das eingegebene Schlüsselwort ist leider falsch...";
        }
        if (AppStateStore.SaveSettings)
        {
            // Copy from app state to permanent storage
            PermAppState permAppState = new PermAppState();
            permAppState.KeyWord = AppStateStore.KeyWord;
            permAppState.FirstName = AppStateStore.FirstName;
            permAppState.LastName = AppStateStore.LastName;
            permAppState.PhoneMail = AppStateStore.PhoneMail;
            permAppState.PrivateKeyWord1 = AppStateStore.PrivateKeyWord1;
            permAppState.PrivateKeyWord2 = AppStateStore.PrivateKeyWord2;
            permAppState.PrivateKeyWord2 = AppStateStore.PrivateKeyWord2;
            await localStorage.SetItemAsync<PermAppState>("permAppState", permAppState);
        }
        else
        {
            await localStorage.RemoveItemAsync("permAppState");
        }
        if (KeywordCheck.IsUser)
        {
            NavigationManager.NavigateTo("calendar");
        }
    }


}


