@page "/register/{ItemId}"
@inject HttpClient Http
@inject AppState AppStateStore
@using MeetUpPlanner.Shared
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NotificationService notificationService
@implements IDisposable
@using Newtonsoft.Json
@using Microsoft.AspNetCore.SignalR.Client


<MeetUp CalendarItem="@meetup" HideParticipants="true" NameDisplayLength="@AppStateStore.ClientSettings.NameDisplayLength" AdditionalText="Für die Teilnahme an der Ausfahrt bitte die Kontaktdaten unten eingeben, um damit die Nachverfolgbarkeit zu gewährleisten. Falls du doch nicht dabei sein kannst, kannst du dich über diese Seite auch wieder abmelden." />

<EditForm OnValidSubmit="RegisterGuest" Model="@_guest">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h5>Kontaktdaten</h5>
    <div class="form-row">
        <div class="form-group col-md-12">
            <small id="nameHelp" class="form-text text-muted">
                Zur eindeutigen Nachverfolgbarkeit bitte Vor- und Nachname eingeben.
            </small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <InputText id="firstname" aria-describedby="nameHelp" class="form-control" @bind-Value="_guest.ParticipantFirstName" autocomplete="on" placeholder="Vorname" title="Vorname" />
        </div>
        <div class="form-group col-md-4">
            <InputText id="lastName" area-describedby="nameHelp" class="form-control" @bind-Value="_guest.ParticipantLastName" autocomplete="on" placeholder="Nachname" title="Nachname" />
        </div>
    </div>
    <div class="form-group">
        <label for="Phone">Telefon/Mail</label>
        <InputText id="Phone" aria-describedby="phoneHelp" class="form-control" @bind-Value="_guest.ParticipantAdressInfo" autocomplete="on" placeholder="Telefon-Nr. oder Mail-Adresse" title="Bitte Telefonnummer oder Mailadresse angeben." />
        <small id="phoneHelp" class="form-text text-muted">
            Für die Nachverfolgbarkeit hier bitte deine Mail-Adresse oder Telefonnummer eingeben. Diese Info wird nicht in der allgemeinen Teilnehmerliste zu Ausfahrten angezeigt.
        </small>
    </div>
    <div class="form-group">
        <div class="form-check">
            <InputCheckbox id="SaveSettings" aria-describedby="saveSettingsHelp" class="form-check-input" @bind-Value="AppStateStore.SaveSettings"></InputCheckbox>
            <label for="SaveSettings" class="form-check-label">Einstellungen im Browser merken?</label>
        </div>
        <small id="saveSettingsHelp">Damit beim nächsten Mal der Name usw. nicht neu eingegeben werden muss, können diese Eingaben im Browser gespeichert werden.</small>
    </div>
    <div class="form-group">
        <div class="form-check">
            <InputCheckbox id="accept" class="form-check-input" @bind-Value="@UsageRightsAccepted" />
            <label for="accept" class="form-checklabel">
                @((MarkupString)AppStateStore.ClientSettings.GuestDisclaimer)
            </label>
        </div>
    </div>
    <button type="submit" id="BtnSaveKeyword" class="btn btn-primary" title="An/Abmelden" disabled="@(!UsageRightsAccepted)">@_buttonTitle</button>
</EditForm>


@code {
    [Parameter]
    public string ItemId { get; set; }
    ExtendedCalendarItem meetup = new ExtendedCalendarItem();
    Boolean _usageRightsAccepted = false;
    Participant _guest = new Participant();
    const string PERM_STORAGE = "permGuestState";
    string _buttonTitle = "An/Abmelden";
    private HubConnection hubConnection;


    Boolean UsageRightsAccepted
    {
        get
        {
            return _usageRightsAccepted;
        }
        set
        {
            _usageRightsAccepted = value;
        }
    }


    protected override async Task OnInitializedAsync()
    {
        if (await LocalStorage.ContainKeyAsync(PERM_STORAGE))
        {
            // Read the user data if available from browser storage
            PermAppState permAppState = await LocalStorage.GetItemAsync<PermAppState>(PERM_STORAGE);
            // Copy the settings needed to application state
            _guest.ParticipantFirstName = permAppState.FirstName;
            _guest.ParticipantLastName = permAppState.LastName;
            _guest.ParticipantAdressInfo = permAppState.PhoneMail;
        }
        // Get client settings from server
        PrepareHttpClient();
        TenantClientSettings tenantClientSettings = await Http.GetFromJsonAsync<TenantClientSettings>("Util/tenantclientsettings");
        AppStateStore.Tenant = tenantClientSettings.Tenant;
        AppStateStore.ClientSettings = tenantClientSettings.Client;
        if (AppStateStore.Tenant.IsLocked || AppStateStore.ClientSettings.AppLocked)
        {
            // Application locked ==> navigate to start page
            NavigationManager.NavigateTo("/");
            return;
        }
        await ReadData();
        hubConnection = new HubConnectionBuilder()
             .WithUrl(NavigationManager.ToAbsoluteUri("/broadcastHub"))
             .WithAutomaticReconnect()
             .Build();
        await hubConnection.StartAsync();

        AppStateStore.NotifyStateChanged();
    }
    private async Task ReadData()
    {
        // Get referenced calendar item
        meetup = await Http.GetFromJsonAsync<ExtendedCalendarItem>($"Calendar/extendedcalendaritemforguest?itemId={ItemId}");
        if (meetup.StartDate.CompareTo(DateTime.Now.AddHours(-13)) < 0)
        {
            // MeetUp too old ==> navigate to start page
            NavigationManager.NavigateTo("/");
        }
        if (!String.IsNullOrEmpty(_guest.ParticipantLastName))
        {
            _buttonTitle = (null != meetup.FindParticipant(_guest.ParticipantFirstName, _guest.ParticipantLastName)) ? "Abmelden" : "Anmelden";
        }
    }
    private async Task RegisterGuest()
    {
        _guest.ParticipantFirstName = _guest.ParticipantFirstName.Trim();
        _guest.ParticipantLastName = _guest.ParticipantLastName.Trim();
        _guest.ParticipantAdressInfo = _guest.ParticipantAdressInfo.Trim();
        if (AppStateStore.SaveSettings)
        {
            // Copy from app state to permanent storage
            PermAppState permAppState = new PermAppState();
            permAppState.FirstName = _guest.ParticipantFirstName;
            permAppState.LastName = _guest.ParticipantLastName;
            permAppState.PhoneMail = _guest.ParticipantAdressInfo;
            await LocalStorage.SetItemAsync<PermAppState>(PERM_STORAGE, permAppState);
        }
        else
        {
            await LocalStorage.RemoveItemAsync(PERM_STORAGE);
        }
        _guest.IsGuest = !AppStateStore.Tenant.GuestNameShown;
        _guest.CalendarItemId = ItemId;
        BackendResult result;
        Participant participant = meetup.FindParticipant(_guest.ParticipantFirstName, _guest.ParticipantLastName);
        if (null == participant)
        {
            if (meetup.IsCanceled)
            {
                notificationService.Notify(new NotificationMessage() { Severity = NotificationSeverity.Warning, Summary = "Abgesagt", Detail = "Der Termin ist leider abgesagt.", Duration = 4000 });
                return;
            }
            PrepareHttpClient();
            HttpResponseMessage response = await Http.PostAsJsonAsync<Participant>($"Calendar/addguest", _guest);
            string responseBody = await response.Content.ReadAsStringAsync();

            result = JsonConvert.DeserializeObject<BackendResult>(responseBody);
            if (result.Success)
            {
                if (IsConnected) await SendMessage();
                notificationService.Notify(new NotificationMessage() { Severity = NotificationSeverity.Success, Summary = "Angemeldet", Detail = "Du bist jetzt angemeldet. Über diese Seite kannst du dich auch wieder abmelden.", Duration = 4000 });
            }
        }
        else
        {
            PrepareHttpClient();
            HttpResponseMessage response = await Http.PostAsJsonAsync<Participant>($"Calendar/removeguest", participant);
            string responseBody = await response.Content.ReadAsStringAsync();

            result = JsonConvert.DeserializeObject<BackendResult>(responseBody);
            if (result.Success)
            {
                if (IsConnected) await SendMessage();
                notificationService.Notify(new NotificationMessage() { Severity = NotificationSeverity.Success, Summary = "Abgemeldet", Detail = "Du bist jetzt von der Ausfahrt abgemeldet.", Duration = 4000 });
            }
        }
        if (result.Success)
        {
            await ReadData();
        }
        else
        {
            notificationService.Notify(new NotificationMessage() { Severity = NotificationSeverity.Error, Summary = "Fehler", Detail = result.Message, Duration = 4000 });
        }

    }
    private void PrepareHttpClient()
    {
        if (null != AppStateStore.Tenant)
        {
            if (!Http.DefaultRequestHeaders.Contains("x-meetup-tenant"))
            {
                Http.DefaultRequestHeaders.Add("x-meetup-tenant", AppStateStore.Tenant.PrimaryUrl);
            }
        }
        if (!Http.DefaultRequestHeaders.Contains("x-meetup-tenant-url"))
        {
            Http.DefaultRequestHeaders.Add("x-meetup-tenant-url", NavigationManager.BaseUri);
        }

    }

    Task SendMessage() => hubConnection.SendAsync("SendMessage");

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    public void Dispose()
    {
        if (null != hubConnection)
        {
            _ = hubConnection.DisposeAsync();
        }
    }

}
