@using MeetUpPlanner.Shared
<div class="jumbotron">
    <h6 class="text-muted">@CalendarItem.LevelDescription - @CalendarItem.Tempo</h6>
    <h3>@CalendarItem.GetStartDateAsString() - @CalendarItem.Title</h3>
    @if (!String.IsNullOrEmpty(CalendarItem.Link))
    {
        <a href="@CalendarItem.Link" target="_blank">@CalendarItem.DisplayLinkTitle</a>
    }
    <p>
        @((MarkupString)CalendarItem.Summary)
    </p>
    <p>
        @if (!HideParticipants)
        {
            <small>Dabei (@CalendarItem.ParticipantCounter von @CalendarItem.MaxRegistrationsCount): <b>@CalendarItem.HostDisplayName</b>@CalendarItem.ParticipantsDisplay</small>
        }
        else
        {
            <small>@(CalendarItem.MaxRegistrationsCount - CalendarItem.ParticipantCounter) von @CalendarItem.MaxRegistrationsCount Plätzen noch frei.</small>
        }
    </p>
    @if (!String.IsNullOrEmpty(AdditionalText))
    {
        <p>
            @AdditionalText
        </p>
    }
</div>

@code {
    [Parameter]
    public ExtendedCalendarItem CalendarItem { get; set; } = new ExtendedCalendarItem();
    [Parameter]
    public Boolean HideParticipants { get; set; } = false;
    [Parameter]
    public String AdditionalText { get; set; } = null;
}
